*{margin: 0; padding: 0; z-index: 0;}
html{scroll-behaviour: smooth; overflow-x: hidden; margin: 0; padding: 0; }
.home, .process{
  background-color: #101010;
  margin: 0;
  color: #f6f6f6;
  overflow: hidden;
}
.gallery{
  background-image: url(otherImages/white-wall.jpg);
  background-repeat: repeat-y;
  margin: 0 auto;
  color: #101010;
  overflow: hidden;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  align-items: center;
}
img{margin: 0; padding: 0;}
.home .nav-container, .process .nav-container{
  position: absolute;
  background-color: #101010;
  opacity: 100%;
  width: 100vw;
  padding: 1.3vw 0 1.25vw 0;
  z-index: 3;
}
.gallery .nav-container{
  background-image: url(otherImages/gallery-nav.png);
  background-size: 100vw 11vw;
  background-repeat: no-repeat;
  width: 100vw;
  padding: 1.3vw 0 3vw 0;
  z-index: 2;
  position: fixed;
}
nav{
  margin: 0 auto;
  width: 90vw;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
nav ul{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav li{margin: 0; margin-right: 1.55vw;}
nav li:hover, nav a img:hover, .cta-text-and-underline:hover{opacity: 80%;}
footer a:hover{color: #fff200;}
nav a img{height: 3vw; margin-right: 2vw;}
nav li img{
  display: float;
  padding-left: 0.32vw;
  margin-bottom: 0.142vw;
  height: 0.4vw;
}
a{ 
  text-decoration: none;
  color: #F6F6F6;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
}
a:hover{
  color: #FFF200;
}
.b1{
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 1.2vw;
  background-color: #101010;
  text-align: center;
  border: 0.25vw #FFF200 solid;
  border-radius: 0.1vw;
  font-weight: 500;
  color: #FFF200;
  margin: 0;
  margin-right: 0.65vw;
  padding: 0.3vw 1.1vw 0.5vw 1.1vw;
  transition: all 0.3s ease;
}
.b1:hover{
  color: #101010;
  font-weight: 700;
  background-color: #FFF200;
}
.hero-container{
  max-width: 90vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container section{margin-top: 8vw;}
h1, h2, h3, h4, h5{
  font-family: Roboto Condensed, sans-serif;
  font-size: 4.67vw;
  font-weight: 700;
  text-align: center;
  line-height: 4.55vw;
  letter-spacing: -0.03em;
}
.hero-container .img-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
.home img.hero{height: 19.9vw; margin-top: 4.2vw;}
.process img.hero{height: 20.3vw; margin-top: 8.25vw;}
.home img.hero-underline{
  height: 11.3vw;
  position: absolute;
  margin-bottom: 11.6vw;
  margin-left: 28.75vw;
}
.gallery-hero-underline{
  height: 11.5vw;
  width: 16.6vw;
  position: absolute;
  margin-top: 17.1vw;
  margin-left: 23.3vw;
  filter: brightness(5%);
}
.drawing-hero-underline{
  height: 11.5vw;
  width: 16.6vw;
  position: absolute;
  margin-top: 17.1vw;
  margin-left: 26.6vw;
  filter: brightness(5%);
}
.painting-hero-underline{
  height: 11.5vw;
  width: 16.6vw;
  position: absolute;
  margin-top: 17.1vw;
  margin-left: 26.5vw;
  filter: brightness(5%);
}
.home img.hero-underline{
  height: 11.3vw;
  position: absolute;
  margin-bottom: 11.6vw;
  margin-left: 28.75vw;
}
.process img.hero-underline{
  height: 11.5vw;
  width: 17.25vw;
  position: absolute;
  margin-bottom: 11vw;
  margin-left: 25.3vw;
}
.process-arrow{
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  height: 4vw;  
}
.process .foot-container{margin-top: 1.5vw;}
img.hero-arrow{
  height: 4vw;
}
.feat{
  background-image: url(otherImages/white-wall.jpg);
  height: 131vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.feat h2{
  letter-spacing: -0.02em;
  color: #101010;
  margin: 4vw auto 0 auto;
}
.feat .arrow{
  height: 4.2vw;
  position: absolute;
  margin-top: 4.1vw;
 margin-left: 85.15vw;
}
.feat .frame{
  margin-top: 11vw;
  height: 57vh;
  position: absolute;
  <!-- box-shadow: 0.2vw 0.2vw 0.1vw 1vw black; -->
}

.definition-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.definition-container section{
  max-width: 33vw;
}
.definition-container h2{
  letter-spacing: -0.04em;
  color: #f6f6f6;	
  margin-bottom: 2.22vw;
}
.definition-container p{
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 2.2vw;
  margin: 0;
}
.left-zoom{
  height: 23vw;
  margin-right: 90vw;
  position: absolute;
  transform: rotate(-12.5deg);
  margin-top: 3.5vw;
}
.right-zoom{
  height: 23vw;
  margin-left: 90vw;
  position: absolute;
  transform: rotate(12.5deg);
  margin-top: 3.5vw;
}
.question-underline{
  position: absolute;
  height: 14vw;
  width: 24.4vw;
  margin-top: 0.7vw;
  margin-right: 1.79vw;
}
.client-process-underline{
  position: absolute;
  height: 0.8vw;
  width: 10.1vw;
  margin-left: 79.09vw;
  margin-top: 30vw;
  z-index: 1;
}
.number-underline{
  width: 2.8vw;
  height: 0.55vw;
}
.definition-container .img-container{
  position: absolute;
}

.split-screen-layout{
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
}
.split-screen-layout h2{
  letter-spacing: -0.04em;
  color: #f6f6f6;	
  margin-bottom: 2.22vw;
}
.split-screen-layout section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 49.5vw;	
  overflow: hidden;
}
#benefit-paragraph{
  margin-bottom: 8vw;
}
.fit{
  object-fit: cover;
}
.split-screen-layout p{
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  max-width: 27vw;
  line-height: 2.2vw;
  text-align: center;
  margin: 0;
}
.down-right-arrow{
  height: 5vw;
  transform: rotate(-50deg);
  margin-left: 1.24vw;  
}
.flex-row{display: flex;}
.flex-column{display: flex; flex-direction: column;}
.about-img{height: 600vw; margin: 0;}
.cta-img{height: 600vw; margin: 0;}
.split-screen-layout h3{
  font-size: 7.2vw;
  max-width: 35vw;
  line-height: 6.4vw;
  margin-bottom: 4vw;
  letter-spacing: -0.05em;
}
.split-screen-layout .button{
  border: none;
  font-weight: 500;
  color: #FFF200;
  line-height: 1.45vw;
}
.benefit-button{
  border: 0.2vw #FFF200 solid;
  border-radius: 0.2px;
  font-weight: 500;
  color: #FFF200;
  margin-right: 0.65vw;
  padding: 0.3vw 1.2vw 0.5vw 1.1vw;
}
.benefit-underline{
  position: absolute;
  height: 13vw;
  width: 22.6vw;
  margin-top: 8.95vw;
  margin-left: 62.98vw;
}
.amelia-process-underline{
  position: absolute;
  height: 13vw;
  width: 17.27vw;
  margin-top: 9.75vw;
  margin-left: 36.4vw;
}
.split-screen-layout .underline{
  height: 0.522vw;
  position: absolute;
  margin: 0;
  padding: 0;
}
.foot-container{width: 90vw; height: 34.7vw; margin: 0 auto;}
.black-container{width: 100vw; height: 29.9vw; background-color: #101010; display: block;}
.gallery-foot{width: 100vw; height: 9.1vw; transform: rotate(180deg); display: block; overflow: hidden; margin: 0; padding: 0;}
.gallery .foot-container{width:90vw; height: 29.9vw; margin: 0 auto; color: #f6f6f6; background-color: #101010; display: block;}
footer{display: flex; justify-content: space-between; width: 100%;}
.foot-container .sitemap-col{flex: 1;}
.foot-container a{display: inline-block;}
.foot-container h4{display: inline-block; font-size: 2.3vw; letter-spacing: -0.03em; line-height: 2vw; margin-top: 5.1vw;}
.gallery .foot-container h4{display: inline-block; font-size: 2.3vw; letter-spacing: -0.03em; line-height: 2vw; margin-top: 0vw;}
.foot-container p{margin-bottom: 0.18vw; display: inline-block;}
.foot-container .left {text-align: left;}
.foot-container .center {text-align: center;}
.foot-container .right {text-align: right;}
.foot-container h5{
  font-size: 4.5vw;
  text-align: center;
  line-height: 4vw;
  letter-spacing: -0.03em;
  margin-top: 5.1vw;
}
.left-underline{
  height: 0.87vw;
  margin-bottom: 2vw;
}
.right-underline{
  height: 1vw;
  width: 8.3vw;
  margin-bottom: 2vw;
}
.center-underline{
  height: 0.6vw;
  width: 7.95vw;
  margin-bottom: 2vw;
}

.gallery-container{
  width: 90vw;
  margin: 0 auto;	
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.gallery-column{width: 43.75vw; margin-top: 5.9vw;}
.gallery-column img{
  width: 43.75vw;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-top: 2.5vw;
  z-index: 1;
  transition: opacity 0.3s ease;
}
.gallery-column img:hover{opacity: 15%;}
.work{
	font-family: Roboto Condensed, sans-serif;
	text-align: left;
	position: relative;
}
span.title{
  font-size: 4.3vw; 
  font-weight: 800;
  font-style: italic; 
  position: absolute;
  line-height: 4vw; 
}
span.long-title{
  font-size: 4vw; 
  font-weight: 800;
  font-style: italic; 
  position: absolute;
  line-height: 3.9vw;
}
.work p{
  color: black;
  font-size: 1.8vw; 
  font-weight: 800;
  position: absolute;
  line-height: 2vw;
  top: 42%;
  left: 7.2vw;
}
.enlarged-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.enlarge{
  height: 98vh;
  position: fixed;
  z-index: 2;
  margin-top: 11.2vw;
}
.back{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  margin-top: 11.05vw;
  opacity: 83%;
}
.step1{
  display: flex;
  align-items: center;
  margin-left: 0vw;
  margin-bottom: 1.3vw;
}
.step2{
  display: flex;
  align-items: center;
  margin-left: 4.5vw;
  margin-bottom: 1.3vw;
}
.step3{
  display: flex;
  align-items: center;
  margin-left: 9vw;
  margin-bottom: 1.3vw;
}
.step4{
  display: flex;
  align-items: center;
  margin-left: 13.5vw;
  margin-bottom: 1.3vw;
}
.step1 p, .step2 p, .step3 p, .step4 p{
  text-align: left;
  line-height: 1.6vw;
  max-width: 18vw;
}
.step1 h2, .step2 h2, .step3 h2, .step4 h2{
  text-align: center;
  line-height: 0vw;
  margin-right: 2vw;
  margin-top: 2.1vw;
}
.image-text-container h2{
  position: absolute;
  z-index: 3;
  font-size: 6.5vw;
  max-width: 35vw;
  line-height: 5.9vw;
  text-align: right;
}
.image-text-container{
  width: 49.5vw;	
  overflow: hidden;
}
.image-text-container img{
  width: 49.5vw;	
  overflow: hidden;
  object-fit: cover;
}

.process-container section{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.process-container{
  max-width: 90vw;
  margin: 0 auto;  
  height: 99vh;
}
.process-underline{
  height: 15vw;
  width: 17vw;
}
.process-container h2{
  margin-top: 6.8vw;
}
.four-part-process{
  display: flex;
  justify-content: center;
  margin-top: 5.8vw;
}
.part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 14vw;
  margin: 0 4vw;
}
.icon{
  width: 8vw;
  padding-bottom: 1.5vw;
}
.part p{
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 2vw;
}

.faqs-container{
  display: block;
  max-width: 90vw;
  margin: 0 auto;
}
.faqs-container h2{
  margin-top: 4vw;
}
.faq-underline{
  position: absolute;
  height: 10vw;
  width: 9.07vw;
  margin-top: 3.9vw;
}
.faq-left{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.faq-right{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.question{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.faqs-container h3{
  text-align: right;
  font-size: 2.3vw;
  letter-spacing: -0.03em;
}
.right-faq-arrow{
  height: 3.8vw;
  transform: rotate(-90deg);
  margin-right: 2.6vw;
}
.dropbtn{
  background-color: rgba(0, 0, 0, 0);
  color: #f6f6f6;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
  margin-left: -1vw;
  margin-right: -1vw;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #101010;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a{
  color: #f6f6f6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover{color: #fff200;}

.banner{
  width: 90%;
  height: 90vh;
  text-align: center;
  position: relative;
  margin-top: 22vw;
}
.banner .slider{
  position: absolute;
  width: 200px;
  height: 240px;
  top: 10%;
  left: 43.5%;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 25s linear infinite;
}
@keyframes autoRun{
   from{
       transform: perspective(1000px) rotateY(0deg);
	}
	to{
	  transform: perspective(1000px) rotateY(360deg);
	}
}
.banner .slider .item{
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
}
.banner .slider .item img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.art{
  width: 100%;
  height: 100%;
  background-image: url('otherImages/white-wall.jpg');
}
.art .container{
  max-width: 90vw;
  height: 90vh;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.art .large{
  justify-content: space-between;
}
.art .container .contents{
  display: flex;
  width: 28%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto Condensed, sans serif;
  font-weight: 600;
}
.piece{
  height: 90vh;
  width: auto;
}
.exit-arrow{
  height: 4.2vw;
  position: absolute;
  top: 5vh;
  right: 5vw;
}
.large .exit-arrow{
  position: relative;
  top: 0;
  right: 0;
}